<div>
    <div class="mt-5 notes-list-container rounded">
        <div class="scrollbar list-group">
            <a class="list-group-item list-group-item-action" [ngClass]="noteActive===note.id ? 'notes-list-active' : ''"
                (click)="onNoteClick(note)" *ngFor="let note of notesList">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{note.title}}</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.
                </p>
            </a>
            <div *ngIf="!notesList.length" class="notes-list-empty">
                <span>Zero notes</span>
            </div>
        </div>
    </div>
</div>