.scrollbar {
    overflow: scroll;
    height: 539px;
    cursor: pointer;
}

.notes-list-container {
    border: rgba(0, 0, 0, 0.125) solid 1px;
}

.notes-list-active {
    background-color: #fafad2;
    color: #f08080;
}

.list-group-item:hover {
    transform: scale(1.03);
    box-shadow: 0.5rem 0rem 0.5rem;
}

.notes-list-empty {
    margin: auto;
}

.notes-list-empty span {
    font-size: 25px;
    color: #beb7b7;
}

.notes-list-note-title {
    max-width: 70%;
    height: 30px;
    text-align: left;
    overflow: hidden;
}

.notes-list-note-desc {
    height: 90px;
    overflow: hidden;
    text-align: left;
}
