html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.notes-list-centre {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

app-root {
    width: 100%;
    display: block;
    height: 99vh;
    background: rgba(175, 238, 238, 0.3);
    scroll-behavior: smooth;
    font-family: 'Space Mono', monospace;
    line-height: 1.6;
    color: #f08080;
}
